<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnh.dao.RandomCodeMapper" >
  <resultMap id="BaseResultMap" type="com.cnh.dataobject.RandomCode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="random" property="random" jdbcType="VARCHAR" />
    <result column="trophy_id" property="trophyId" jdbcType="INTEGER" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="used" property="used" jdbcType="INTEGER" />
    <result column="send_goods" property="sendGoods" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="exchange_date" property="exchangeDate" jdbcType="TIMESTAMP" />
    <result column="valid_date" property="validDate" jdbcType="VARCHAR" />
  </resultMap>

<!--自定义的map,admin-->
  <resultMap id="QueryForListMap" type="com.cnh.vo.UserforAdminVo" >
    <id column="id" property="id" />
    <result column="random" property="random"  />
    <result column="username" property="username" />
    <result column="phone" property="phone" />
    <result column="address" property="address"  />
    <result column="exchangeDate" property="exchangeDate"  />
    <result column="used" property="used" />
    <result column="sendGoods" property="sendGoods"  />
    <result column="content" property="content"  />
  </resultMap>

  <!--自定义的map,user-->
  <resultMap id="QueryForAddress" type="com.cnh.vo.UserforUserVo" >
    <result column="username" property="username" />
    <result column="phone" property="phone" />
    <result column="address" property="address"  />
    <result column="content" property="content"  />
    <result column="exchangeDate" property="exchangeDate"  />
  </resultMap>



  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 16 10:07:20 CST 2019.
    -->
    id, random, trophy_id, address_id, used, send_goods, create_date, exchange_date, valid_date
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_redom_code
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="findByPhone" resultMap="QueryForAddress">
    select
    a.username username,
    a.phone phone,
    a.address address,
    r.exchange_date exchangeDate,
    t.content content from  tb_address a  left join  tb_redom_code r   on r.address_id=a.id LEFT JOIN tb_trophy t ON r.trophy_id=t.id
where phone= #{phone,jdbcType=BIGINT}
  </select>



    <select id="findAllCodeByPageForm" resultMap="QueryForListMap">
      select r.id id,
      r.random random,
      a.username username,
      a.phone phone,
      a.address address,
      r.exchange_date exchangeDate,
      r.used used,
      r.send_goods sendGoods,
      t.content content from tb_redom_code r left join tb_address a on r.address_id=a.id LEFT JOIN tb_trophy t ON r.trophy_id=t.id

      <where>
            <if test="trophy != null and trophy!=''">
            and   trophy_id = #{trophy,jdbcType=INTEGER}
            </if>
            <if test="used != null and used !=''" >
             and   used = #{used,jdbcType=INTEGER}
            </if>
            <if test="sendGoods != null and sendGoods != ''" >
              and  send_goods = #{sendGoods,jdbcType=INTEGER}
            </if>
        </where>
    </select>



  <select id="findAllCodeByPage" resultMap="QueryForListMap">
    select r.id id,
    r.random random,
    a.username username,
    a.phone phone,
    a.address address,
    r.exchange_date exchangeDate,
    r.used used,
    r.send_goods sendGoods,
    t.content content from tb_redom_code r left join tb_address a on r.address_id=a.id LEFT JOIN tb_trophy t ON r.trophy_id=t.id

    <where>
      <if test="trophy!= null and trophy!=''">
        and   trophy_id = #{trophy,jdbcType=INTEGER}
      </if>
      <if test="used != null " >
        and   used = #{used,jdbcType=INTEGER}
      </if>
      <if test="sendGoods != null " >
        and  send_goods = #{sendGoods,jdbcType=INTEGER}
      </if>
    </where>
  </select>


  <select id="findByCode" parameterType="String" resultType="com.cnh.dataobject.RandomCode">

select * from tb_redom_code where  random = #{random,jdbcType=VARCHAR}

  </select>

<!--根据哪个code码更新数据库-->

  <update id="updateByCode" parameterType="com.cnh.dataobject.RandomCode" >
    update tb_redom_code
    <set >

      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=INTEGER},
      </if>
      <if test="sendGoods != null" >
        send_goods = #{sendGoods,jdbcType=INTEGER},
      </if>
      <if test="exchangeDate != null" >
        exchange_date = #{exchangeDate,jdbcType=TIMESTAMP},
      </if>

    </set>
    where random = #{random,jdbcType=VARCHAR}
  </update>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 16 10:07:20 CST 2019.
    -->
    delete from tb_redom_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cnh.dataobject.RandomCode" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 16 10:07:20 CST 2019.
    -->
    insert into tb_redom_code (id, random, trophy_id, 
      address_id, used, send_goods,
      create_date, exchange_date, valid_date
      )
    values (#{id,jdbcType=INTEGER}, #{random,jdbcType=VARCHAR}, #{trophyId,jdbcType=INTEGER}, 
      #{addressId,jdbcType=INTEGER}, #{used,jdbcType=INTEGER}, #{sendGoods,jdbcType=INTEGER},
      #{createDate,jdbcType=TIMESTAMP}, #{exchangeDate,jdbcType=TIMESTAMP}, #{validDate,jdbcType=VARCHAR}
      )
  </insert>


  <insert id="insertList" parameterType="java.util.List"  >
    insert into tb_redom_code (id, random, trophy_id,
    address_id, used, send_goods,
 exchange_date, valid_date
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id},
      #{item.random},
      #{item.trophyId},
      #{item.addressId},
      #{item.used},
      #{item.sendGoods},
      #{item.exchangeDate},
      #{item.validDate}
      )
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.cnh.dataobject.RandomCode" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 16 10:07:20 CST 2019.
    -->
    insert into tb_redom_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="random != null" >
        random,
      </if>
      <if test="trophyId != null" >
        trophy_id,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="used != null" >
        use,
      </if>
      <if test="sendGoods != null" >
        send_goods,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="exchangeDate != null" >
        exchange_date,
      </if>
      <if test="validDate != null" >
        valid_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="random != null" >
        #{random,jdbcType=VARCHAR},
      </if>
      <if test="trophyId != null" >
        #{trophyId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="used != null" >
        #{use,jdbcType=INTEGER},
      </if>
      <if test="sendGoods != null" >
        #{sendGoods,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeDate != null" >
        #{exchangeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null" >
        #{validDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cnh.dataobject.RandomCode" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 16 10:07:20 CST 2019.
    -->
    update tb_redom_code
    <set >
      <if test="random != null" >
        random = #{random,jdbcType=VARCHAR},
      </if>
      <if test="trophyId != null" >
        trophy_id = #{trophyId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="used != null" >
        use = #{use,jdbcType=INTEGER},
      </if>
      <if test="sendGoods != null" >
        send_goods = #{sendGoods,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeDate != null" >
        exchange_date = #{exchangeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null" >
        valid_date = #{validDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cnh.dataobject.RandomCode" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 16 10:07:20 CST 2019.
    -->
    update tb_redom_code
    set random = #{random,jdbcType=VARCHAR},
      trophy_id = #{trophyId,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      used = #{used,jdbcType=INTEGER},
      send_goods = #{sendGoods,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      exchange_date = #{exchangeDate,jdbcType=TIMESTAMP},
      valid_date = #{validDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>